.progressBarContainer {
  border: 1px solid grey;
  height: 16px;
    overflow: auto;
    border-radius: 8px;

}

.progressbar {
  display: flex;
  justify-content: center;
  height: 100%;
}

.progressBarContainer span {
  position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

.progressWrapper {
  display: flex;
    flex-direction: column;
    width: 50%;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    text-align: center;
    gap: 12px;
}