.App {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.App button{
  border: none;
  padding: 8px 20px;
  background-color: #cac1c1;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}